{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock  %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block css  %}{% endblock  %}
</head>
<body>
    <h1>Proyecto Web</h1>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Index</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            <li><a href="{% url 'news' %}">News</a></li> 
        </ul>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>Todos los derechos reservados &copy; 2020</p>
    </footer>
    {% block js  %}{% endblock  %}
</body>
</html>